/* Písma */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {margin: 0;}
body {font-family: "Open Sans", sans-serif;}
main {margin: 30px;}



/*
 * ROZVRŽENÍ
 */


/* BLOK */
.block {display: block;}

/* KONTEJNER */
.container {
    /* ... */
}

/* SLOUPEC */
@media (min-width: 600px) {
    .col {
        float: left;
        width: 50%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}



/*
 * TEXT
 */
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}


/*
 * TLAČÍTKO
 */

.btn {
    padding: 7px;
    border: none;
    background-color: #fc4e38;
    transition: .1s;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}
.btn:hover {
    background-color: #fa6e5a;
    transition: .1s;
    text-decoration: underline;
}
.btn:active {
    background-color: #e8260e;
    transition: .1s;
}



/*
 * NAVBAR
 */

.navbar {
    overflow: hidden;
    background-color: #fc4e38;
}

.navbar a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 12px 14px;
    color: white;
    transition: .1s;
    max-height: 46px;
}
.navbar a:hover {
    text-decoration: underline;
    background-color: #fa6e5a;
    transition: .1s;
}
.navbar .active {
    background-color: #fc6651;
    text-decoration: underline;
}

.navbar .logo {
    font-weight: 800;
    text-decoration: none !important;
}

.navbar .menu-btn {display: none;}

/* RESPONZIVITA */
@media (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;} /* Skryje vše mimo první položky */
    .navbar a.menu-btn { /* Zobrazí ikonu menu */
        float: right;
        display: block;
    }

    .navbar.mobile {position: relative;}
    .navbar.mobile .menu-btn { /* Nastaví pozici ikony menu při mobilním zobrazení */
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.mobile a { /* Zobrazí mobilní menu */
        float: none;
        display: block;
        text-align: left;
    }
}



/*
 * DOMOVSKÁ STRÁNKA
 */

.index-header {
    padding: 30px 80px;
    background-color: rgba(255,13,5,0.07);
    border-radius: 20px;
}

.index-header img {
    width: 100%;
    border-radius: 20px;
    transition: .3s;
    overflow: hidden;
}
.index-header img:hover {
    transition: .3s;
    transform: scale(105%);

}

.index-header p {
    padding: 15px 0;
    width: 80%;
}

.col-left {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
 * STAVBY
 */

.content {
    max-width: 1200px;
    background-color: #fdf5f5;
    border: #fc7f83 solid 2px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 7px 15px 15px;
    transition: .3s;
}
.content:hover {
    background-color: #fffdfd;
    transition: .3s;
}

.content p {
    max-width: 560px;
    text-align: justify;
}

.content h2 {padding-bottom: 10px;}

.content .architect {padding-bottom: 15px;}

.content img {width: 95%;}



/*
 * FOTOGALERIE
 */

.gallery {margin-top: 15px;}

.gallery a {text-decoration: none;}

.gallery img {height: 200px;}

/* RESPONZIVITA */
@media (max-width: 600px) {
    .gallery {text-align: center;}
    .gallery img {
        height: auto;
        width: 95%;
    }
    .gallery-header {text-align: center;}
}